In [34]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('Churn_Modelling.csv')

In [4]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [8]:
data.duplicated().sum()

0

In [9]:
data['Exited'].value_counts()

Exited
0    7963
1    2037
Name: count, dtype: int64

In [11]:
data = data.drop(['RowNumber','Surname','CustomerId'], axis=1)

In [12]:
data.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [13]:
# cateforical values into numerical
data = pd.get_dummies(data, columns=['Geography','Gender'],drop_first=True)

In [14]:
data.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,False,False,False
1,608,41,1,83807.86,1,0,1,112542.58,0,False,True,False
2,502,42,8,159660.80,3,1,0,113931.57,1,False,False,False
3,699,39,1,0.00,2,0,0,93826.63,0,False,False,False
4,850,43,2,125510.82,1,1,1,79084.10,0,False,True,False

In [16]:
x = data.drop(['Exited'],axis=1)

In [18]:
y = data['Exited']

In [19]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=1,test_size=0.2)

In [20]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [21]:
import tensorflow
from tensorflow import keras
from keras import Sequential
from keras.layers import Dense

In [22]:
model = Sequential()
model.add(Dense(3,activation='sigmoid', input_dim =11))
model.add(Dense(1,activation='sigmoid'))

WARNING:tensorflow:From c:\Users\HP\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [24]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 3)                 36

 dense_1 (Dense)             (None, 1)                 4

=================================================================
Total params: 40 (160.00 Byte)
Trainable params: 40 (160.00 Byte)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [28]:
model.compile(loss='binary_crossentropy', optimizer='Adam', metrics=['accuracy'])

### WE can increase epochs for better training

In [38]:
model.fit(x_train_scaled,y_train,epochs=100)

Epoch 1/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4286
Epoch 2/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4272
Epoch 3/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4258
Epoch 4/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4247
Epoch 5/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4234
Epoch 6/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4224
Epoch 7/100
250/250 [==============================] - 2s 10ms/step - loss: 0.4213
Epoch 8/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4202
Epoch 9/100
250/250 [==============================] - 2s 9ms/step - loss: 0.4192
Epoch 10/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4184
Epoch 11/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4176
Epoch 12/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4169
Epoch 13/100
250/250 [==============================] - 2s 6ms/step - loss: 0.4162
Epoch 14/100
250/250 [==============================] - 3s 13ms/step - loss: 0.4156
Epoch 15/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4150
Epoch 16/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4145
Epoch 17/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4140
Epoch 18/100
250/250 [==============================] - 8s 33ms/step - loss: 0.4135
Epoch 19/100
250/250 [==============================] - 9s 38ms/step - loss: 0.4131
Epoch 20/100
250/250 [==============================] - 8s 33ms/step - loss: 0.4127
Epoch 21/100
250/250 [==============================] - 9s 38ms/step - loss: 0.4123
Epoch 22/100
250/250 [==============================] - 9s 35ms/step - loss: 0.4119
Epoch 23/100
250/250 [==============================] - 10s 40ms/step - loss: 0.4115
Epoch 24/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4112
Epoch 25/100
250/250 [==============================] - 10s 38ms/step - loss: 0.4109
Epoch 26/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4106
Epoch 27/100
250/250 [==============================] - 10s 38ms/step - loss: 0.4104
Epoch 28/100
250/250 [==============================] - 10s 41ms/step - loss: 0.4101
Epoch 29/100
250/250 [==============================] - 9s 37ms/step - loss: 0.4098
Epoch 30/100
250/250 [==============================] - 11s 42ms/step - loss: 0.4096
Epoch 31/100
250/250 [==============================] - 9s 35ms/step - loss: 0.4093
Epoch 32/100
250/250 [==============================] - 9s 37ms/step - loss: 0.4092
Epoch 33/100
250/250 [==============================] - 10s 41ms/step - loss: 0.4090
Epoch 34/100
250/250 [==============================] - 10s 39ms/step - loss: 0.4088
Epoch 35/100
250/250 [==============================] - 8s 31ms/step - loss: 0.4086
Epoch 36/100
250/250 [==============================] - 10s 39ms/step - loss: 0.4084
Epoch 37/100
250/250 [==============================] - 8s 33ms/step - loss: 0.4083
Epoch 38/100
250/250 [==============================] - 5s 20ms/step - loss: 0.4082
Epoch 39/100
250/250 [==============================] - 3s 11ms/step - loss: 0.4080
Epoch 40/100
250/250 [==============================] - 3s 12ms/step - loss: 0.4079
Epoch 41/100
250/250 [==============================] - 3s 14ms/step - loss: 0.4078
Epoch 42/100
250/250 [==============================] - 3s 13ms/step - loss: 0.4076
Epoch 43/100
250/250 [==============================] - 2s 9ms/step - loss: 0.4076
Epoch 44/100
250/250 [==============================] - 4s 15ms/step - loss: 0.4074
Epoch 45/100
250/250 [==============================] - 6s 25ms/step - loss: 0.4074
Epoch 46/100
250/250 [==============================] - 4s 15ms/step - loss: 0.4072
Epoch 47/100
250/250 [==============================] - 2s 8ms/step - loss: 0.4071
Epoch 48/100
250/250 [==============================] - 2s 7ms/step - loss: 0.4070
Epoch 49/100
250/250 [==============================] - 4s 14ms/step - loss: 0.4070
Epoch 50/100
250/250 [==============================] - 3s 12ms/step - loss: 0.4069
Epoch 51/100
250/250 [==============================] - 3s 13ms/step - loss: 0.4068
Epoch 52/100
250/250 [==============================] - 4s 14ms/step - loss: 0.4067
Epoch 53/100
250/250 [==============================] - 3s 13ms/step - loss: 0.4066
Epoch 54/100
250/250 [==============================] - 5s 21ms/step - loss: 0.4066
Epoch 55/100
250/250 [==============================] - 5s 20ms/step - loss: 0.4065
Epoch 56/100
250/250 [==============================] - 7s 26ms/step - loss: 0.4064
Epoch 57/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4064
Epoch 58/100
250/250 [==============================] - 9s 37ms/step - loss: 0.4064
Epoch 59/100
250/250 [==============================] - 10s 40ms/step - loss: 0.4063
Epoch 60/100
250/250 [==============================] - 10s 38ms/step - loss: 0.4062
Epoch 61/100
250/250 [==============================] - 5s 22ms/step - loss: 0.4061
Epoch 62/100
250/250 [==============================] - 6s 23ms/step - loss: 0.4061
Epoch 63/100
250/250 [==============================] - 9s 34ms/step - loss: 0.4060
Epoch 64/100
250/250 [==============================] - 9s 37ms/step - loss: 0.4060
Epoch 65/100
250/250 [==============================] - 9s 36ms/step - loss: 0.4060
Epoch 66/100
250/250 [==============================] - 6s 26ms/step - loss: 0.4059
Epoch 67/100
250/250 [==============================] - 6s 23ms/step - loss: 0.4058
Epoch 68/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4057
Epoch 69/100
250/250 [==============================] - 11s 45ms/step - loss: 0.4057
Epoch 70/100
250/250 [==============================] - 9s 35ms/step - loss: 0.4057
Epoch 71/100
250/250 [==============================] - 11s 42ms/step - loss: 0.4056
Epoch 72/100
250/250 [==============================] - 6s 22ms/step - loss: 0.4056
Epoch 73/100
250/250 [==============================] - 6s 24ms/step - loss: 0.4055
Epoch 74/100
250/250 [==============================] - 6s 25ms/step - loss: 0.4055
Epoch 75/100
250/250 [==============================] - 5s 20ms/step - loss: 0.4055
Epoch 76/100
250/250 [==============================] - 8s 32ms/step - loss: 0.4054
Epoch 77/100
250/250 [==============================] - 11s 43ms/step - loss: 0.4054
Epoch 78/100
250/250 [==============================] - 10s 41ms/step - loss: 0.4053
Epoch 79/100
250/250 [==============================] - 7s 30ms/step - loss: 0.4053
Epoch 80/100
250/250 [==============================] - 6s 25ms/step - loss: 0.4052
Epoch 81/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4053
Epoch 82/100
250/250 [==============================] - 7s 30ms/step - loss: 0.4052
Epoch 83/100
250/250 [==============================] - 7s 26ms/step - loss: 0.4051
Epoch 84/100
250/250 [==============================] - 4s 16ms/step - loss: 0.4051
Epoch 85/100
250/250 [==============================] - 3s 11ms/step - loss: 0.4051
Epoch 86/100
250/250 [==============================] - 2s 9ms/step - loss: 0.4051
Epoch 87/100
250/250 [==============================] - 3s 11ms/step - loss: 0.4050
Epoch 88/100
250/250 [==============================] - 3s 11ms/step - loss: 0.4050
Epoch 89/100
250/250 [==============================] - 5s 18ms/step - loss: 0.4049
Epoch 90/100
250/250 [==============================] - 6s 23ms/step - loss: 0.4049
Epoch 91/100
250/250 [==============================] - 5s 19ms/step - loss: 0.4048
Epoch 92/100
250/250 [==============================] - 6s 25ms/step - loss: 0.4048
Epoch 93/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4049
Epoch 94/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4048
Epoch 95/100
250/250 [==============================] - 5s 22ms/step - loss: 0.4048
Epoch 96/100
250/250 [==============================] - 6s 26ms/step - loss: 0.4047
Epoch 97/100
250/250 [==============================] - 5s 19ms/step - loss: 0.4046
Epoch 98/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4047
Epoch 99/100
250/250 [==============================] - 7s 28ms/step - loss: 0.4046
Epoch 100/100
250/250 [==============================] - 7s 29ms/step - loss: 0.4046

In [39]:
model.layers[0].get_weights()

[array([[-1.8150435e-01, -1.5349320e-01,  1.5860195e-01],
        [ 1.3703954e+00, -1.8609097e-02, -3.6934993e+00],
        [-9.6115708e-02,  2.6358673e-03, -6.7990960e-04],
        [ 7.5652313e-01, -4.7603032e-01,  1.9514860e-01],
        [ 3.5673775e-02,  3.0212158e-01, -4.0668722e-02],
        [-4.8221982e-01, -1.4152539e-01, -1.6679652e-01],
        [ 3.4267887e-01,  2.8475997e+00, -1.2631937e+00],
        [ 3.0914286e-01, -1.0866912e-01,  1.4003360e-01],
        [ 8.8089997e-01, -1.0743698e+00, -5.6317102e-02],
        [-1.3957784e-01, -1.9017813e-01, -9.9973895e-02],
        [-9.8630601e-01,  6.1048979e-01, -1.0237273e-01]], dtype=float32),
 array([0.35945863, 0.43397546, 0.33969203], dtype=float32)]

In [40]:
y_log=model.predict(x_test_scaled)

63/63 [==============================] - 3s 18ms/step

In [41]:
y_pred = np.where(y_log>0.5,1,0)

In [42]:
y_pred

array([[0],
       [0],
       [0],
       ...,
       [0],
       [0],
       [0]])

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

83.25